
.container{
    height: 100vh;
}
body,html{
    background-color: #B3B5B5;
    margin: 0;

}
#pesquisa{
    width: 20rem;
    border-color: #AED1BC;
    padding: 0.5rem;
    margin-left: -15%;
}
#enviar{
   height:2.3rem;

}
#enviar:hover{
    height:2.3rem;
    background-color: skyblue;
 
 }
#pesquisa-user{
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  margin-left:20%;
}
#novo-cadastro{
    margin-left: 50%;
    height:2.3rem;
    width: 7rem;
    border-radius:10%;

}
#novo-cadastro:hover{
    background-color: skyblue;
}
#procon{
    margin-top:5%;
    margin-left:40%;
    display: flex;
    background-color: #C6C6C6;
    width: 50vh;
    height:100px;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(7,7,7,1);
    -moz-box-shadow: 3px 3px 10px 0px rgba(7,7,7,1);
    box-shadow: 3px 3px 10px 0px rgba(7,7,7,1);
}
#srap{
    color:white;
 margin-left:40%;
}
#info-atendimento{
    margin-top:5%;
    margin-left:5%;
    display: flex;
    flex-direction: row;
}
table{
  height: 5vh;
  border-collapse: separate;
  border-spacing: 30px 50px;
}
th,tr{
    font-size: 1.3rem;
    background-color: #AED1BC;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    border: 1px solid black;
    color:white;
}
td{
    font-size: 1.3rem;
    background-color: #DEDEDE;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    border: 1px solid black;
    color:#291818;
}